@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");

/*
	TXT by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #f2f5f3;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body,input,textarea,select
	{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #6b7770;
		font-size: 11.5pt;
		line-height: 2em;
	}
	
	h1, h2, h3, h4, h5, h6
	{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #6b7770;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		text-decoration: none;
		color: inherit;
	}

	
	h2.major
	{
		position: relative;
		border-top: solid 5px #e7eae8;
	}

		h2.major span
		{
			background: #fff;
			position: relative;
			display: inline-block;
		}
	
	a
	{
		color: #006376;
		text-decoration: underline;
	}

		a:hover
		{
			text-decoration: none;
		}

	b, strong
	{
		font-weight: 700;
		color: #6b7770;
	}
	
	i, em
	{
		font-style: italic;
	}
	
	br.clear
	{
		clear: both;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 2px #E7EAE8;
		margin: 0 0 3em 0;
	}

	blockquote
	{
		border-left: solid 5px #E7EAE8;
		padding: 1em 0 1em 1.5em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 3em;
	}
	
	/* Section/Article */
	
		section,
		article
		{
			margin-bottom: 6em;
		}
		
		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		header > p
		{
			display: block;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			color: #c1cac5;
		}

	/* Image */

		.image
		{
			position: relative;
			display: inline-block;
			border-radius: 8px;
		}
		
			.image img
			{
				display: block;
				width: 100%;
				border-radius: 8px;
			}
			
			.image:before
			{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: none;
				border-radius: 8px;
			}
			

			.image.fit
			{
				display: block;
				width: 100%;
			}
			
			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.link
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.link:hover
			{
				width: 101%;
				height: 101%;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}
			
	
	/* Button */
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			-webkit-appearance: none;
			display: inline-block;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			background: #b1ddab;
			color: #fff;
			border: 0;
			line-height: 1em;
			border-radius: 8px;
			outline: 0;
			cursor: pointer;
			-moz-transition: background-color .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;
			-o-transition: background-color .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out;
			transition: background-color .2s ease-in-out;
		}

			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				background: #c1edbb;
			}

			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active
			{
				background: #a1cd9b;
			}
		
			input[type="button"].alt,
			input[type="submit"].alt,
			input[type="reset"].alt,
			.button.alt
			{
				background: #c1cac5;
			}

				input[type="button"].alt:hover,
				input[type="submit"].alt:hover,
				input[type="reset"].alt:hover,
				.button.alt:hover
				{
					background: #ccd5d0;
				}
				
				input[type="button"].alt:active,
				input[type="submit"].alt:active,
				input[type="reset"].alt:active,
				.button.alt:active
				{
					background: #b1bab5;
				}
	
	/* List */

		ul.default
		{
			list-style: disc;
			padding-left: 1em;
		}
		
			ul.default li
			{
				padding-left: 0.5em;
			}
				
		ul.divided
		{
		}
		
			ul.divided > li
			{
				border-top: solid 2px #e7eae8;
				padding-top: 2.35em;
				margin-top: 2.35em;
			}
			
			ul.divided > li:first-child
			{
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
			}

		ul.actions
		{
		}

			ul.actions li
			{
				display: inline-block;
				margin: 0 0 0 1em;
			}
			
				ul.actions li:first-child
				{
					margin-left: 0;
				}

		ul.contact
		{
			cursor: default;
		}
		
			ul.contact li
			{
				position: relative;
				display: inline-block;
				margin: 0 0.25em 0 0.25em;
				top: 0;
				-moz-transition: top .15s ease-in-out;
				-webkit-transition: top .15s ease-in-out;
				-o-transition: top .15s ease-in-out;
				-ms-transition: top .15s ease-in-out;
				transition: top .15s ease-in-out;
			}

				ul.contact li a
				{
					display: block;
					position: relative;
					width: 48px;
					height: 48px;
					border-radius: 6px;
					outline: 0;
					-moz-transition: background-color .2s ease-in-out;
					-webkit-transition: background-color .2s ease-in-out;
					-o-transition: background-color .2s ease-in-out;
					-ms-transition: background-color .2s ease-in-out;
					transition: background-color .2s ease-in-out;
					background: #c1cac5;
					text-align: center;
				}
				
					ul.contact li a:before
					{
						color: #f2f5f3;
						font-size: 32px;
						line-height: 48px;
					}
				
				ul.contact li:hover a.fa-facebook		{ background-color: #3C5A98; }
				ul.contact li:hover a.fa-twitter		{ background-color: #2DAAE4; }
				ul.contact li:hover a.fa-dribbble		{ background-color: #C4376B; }
				ul.contact li:hover a.fa-linkedin		{ background-color: #006599; }
				ul.contact li:hover a.fa-instagram		{ background-color: #2E5E86; }
				ul.contact li:hover a.fa-google-plus	{ background-color: #DA2713; }

				ul.contact li:hover
				{
					top: -5px;
				}

				ul.contact li:active
				{
					top: 0;
				}

		ul.special
		{
			cursor: default;
		}
		
			ul.special li
			{
				position: relative;
				display: inline-block;
				margin: 0 1.5em 0 1.5em;
				top: 0;
				-moz-transition: top .15s ease-in-out;
				-webkit-transition: top .15s ease-in-out;
				-o-transition: top .15s ease-in-out;
				-ms-transition: top .15s ease-in-out;
				transition: top .15s ease-in-out;
			}

				ul.special li:hover
				{
					top: -10px;
				}

					ul.special li:hover a
					{
						background: #b9d2ce;
					}

				ul.special a
				{
					display: block;
					position: relative;
					background: #c1cac5;
					width: 12em;
					height: 12em;
					border-radius: 6em;
					outline: 0;
					-moz-transition: background-color .2s ease-in-out;
					-webkit-transition: background-color .2s ease-in-out;
					-o-transition: background-color .2s ease-in-out;
					-ms-transition: background-color .2s ease-in-out;
					transition: background-color .2s ease-in-out;
				}

					ul.special a:before
					{
						position: absolute;
						width: 128px;
						height: 128px;
						font-size: 96px;
						line-height: 128px;
						left: 50%;
						top: 50%;
						margin-top: -64px;
						margin-left: -64px;
						color: #fff;
						text-align: center;
					}

		ul.meta
		{
			font-size: 0.85em;
			color: #a1aaa5;
		}
		
			ul.meta li
			{
				position: relative;
				display: inline-block;
				margin-left: 1em;
			}

				ul.meta li a
				{
					color: inherit;
					outline: 0;
				}

			ul.meta li:first-child
			{
				margin-left: 0;
			}
			
			ul.meta li:before
			{
				opacity: 0.5;
				cursor: default;
				margin-right: 0.5em;
			}

		ul.menu li
		{
			border-left: solid 1px #E7EAE8;
			display: inline-block;
			padding: 0 0 0 0.75em;
			margin: 0 0 0 0.75em;
		}

			ul.menu li:first-child
			{
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

		ol
		{
		}	

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}

	/* Forms */

		form
		{
		}
		
			form label
			{
				display: block;
				margin: 0 0 1em 0;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				color: #6b7770;
			}
		
			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: block;
				width: 100%;
				border-radius: 8px;
				border: solid 2px #E7EAE8;
			}

				form input[type="text"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus
				{
					border-color: #a1cd9b;
				}

			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select
			{
				line-height: 3em;
				padding: 0 1em;
			}
				
			form textarea
			{
				min-height: 9em;
				padding: 1em;
			}

			form .formerize-placeholder
			{
				color: #555 !important;
			}

			form ::-webkit-input-placeholder
			{
				color: #555 !important;
			}

			form :-moz-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-placeholder
			{
				color: #555 !important;
			}

			form :-ms-input-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

	/* Tables */
	
		table
		{
			width: 100%;
		}
		
			table.default
			{
				width: 100%;
			}

				table.default tr
				{
					border-top: solid 2px #E7EAE8;
				}

					table.default tr:first-child
					{
						border-top: 0;
					}
			
				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}
				
				table.default th
				{
					text-align: left;
					padding: 0.5em 1em 0.5em 1em;
					margin: 0 0 1em 0;
					font-family: 'Open Sans Condensed', sans-serif;
					font-weight: 700;
					text-transform: uppercase;
					color: #6b7770;
				}
			
				table.default thead
				{
					background: #E7EAE8;
					color: #fff;
				}
				
				table.default tfoot
				{
				}
				
				table.default tbody
				{
				}

	/* Box */

		.box
		{
		}

			.box.highlight
			{
				text-align: center;
			}

			.box.features
			{
			}
			
			.box.feature
			{
			}

			.box.blog
			{
			}

			.box.post
			{
			}

			.box.post-summary
			{
			}

			.box.page-content
			{
			}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/*********************************************************************************/
/* Sidebar + Content                                                             */
/*********************************************************************************/

	.sidebar
	{
	}
	
	.content
	{
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#banner-wrapper
	{
		position: relative;
		background-image:			url('images/overlay.png'),	url('images/overlay.png'),	url('../images/banner.jpg');
		background-position:		top left,					top left,					center center;
		background-repeat:			repeat,						repeat,						no-repeat;
		background-size:			auto,						auto,						cover;
		z-index: 1;
	}

	#main-wrapper
	{
		background: #fff;
		border-top: solid 5px #b1ddab;
		border-bottom: solid 5px #c1cac5;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background-color:		rgba(21,28,23,0.85);
		background-image:		url('images/overlay.png'),	url('images/highlight.png');
		background-position:	top left,					center center;
		background-size:		auto,						100% 250%;
		background-repeat:		repeat,						no-repeat;
		text-align: center;
		margin: 0;
	}

		#banner h2
		{
			color: #fff;
		}
		
		#banner p
		{
			display: block;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			color: #575d59;
		}

		#banner .button
		{
			color: #b4b7b5;
			background: transparent !important;
			border: solid 4px #575d59;
			border-color: rgba(87, 93, 89, 0.35);
			border-radius: 16px;
			-moz-transition: border-color .2s ease-in-out, color .2s ease-in-out;
			-webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
			-o-transition: border-color .2s ease-in-out, color .2s ease-in-out;
			-ms-transition: border-color .2s ease-in-out, color .2s ease-in-out;
			transition: border-color .2s ease-in-out, color .2s ease-in-out;
		}

			#banner .button:hover
			{
				color: #e4e7e5;
				border-color: rgba(87, 93, 89, 0.75);
			}

			#banner .button:active
			{
				color: #fff;
				border-color: rgba(97, 103, 99, 1.0);
			}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}
	
		#footer a
		{
			color: inherit;
		}

		#footer h2.major span
		{
			background: #f2f5f3;
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		display: inline-block;
		background: #e7eae8;
		padding: 0.75em 2em 0.75em 2em;
		border-radius: 8px;
		color: #8b9790;
	}
	
		#copyright a
		{
			color: inherit;
		}
		
		#copyright .menu
		{
			margin: 0;
		}
		
			#copyright .menu li
			{
				border-color: #C1CAC5;
				border-width: 2px;
				line-height: 1em;
			}